[submodule "lib/minros"]
	path = firmware/lib/minros
	url = git@github.com:merenbasol42/minros.git
	branch = main
[submodule "lib/minrospy"]
	path = host/lib/minrospy
	url = git@github.com:merenbasol42/minrospy.git
	branch = main
